/* Layout */
html, body{
	width  : 1280px;
    height : 720px;
    background-color : #222222;
    font-size: 20px;
    color: white; /* color: rgba(255, 255, 255, 0.7); */
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    padding-left: 16px;
    padding-right: 8px;
}

footer{
    text-align: center;
}

h2{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    max-height: 2.5em;
    line-height: 1.25em;
    text-overflow: ellipsis;
    overflow: hidden;
}

h3{
    font-size: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    white-space: nowrap;
}

h4{
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    word-break: break-word;
    text-align: center;
    line-height: 1em;
}

h5{
    font-size: 1em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    word-break: break-word;
    text-align: center;
    line-height: 1.3em;
    max-height: 6.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.3); 
}

ul{

}

li{
    font-size: 14px;
    font-weight: 400;
}

footer p span{
    display: block;
}

/**
 * Dashing.io Colors 
 */

.green    > figure { background: #95c049; }
.turkoise > figure { background: #49bbb2; }
.blue     > figure { background: #12b0c5; }
.purple   > figure { background: #9c4274; }
.red      > figure { background: #ec663c; }
.yellow   > figure,
.orange   > figure { background: #ff9618; }   



.center{
    text-align: center;
}

md-grid-list {
    margin: 10px; 
    height: 700px; 
}

ng-widget, md-grid-tile{
    overflow: hidden;
}

/*
md-grid-list md-grid-tile{
    perspective: 800px;
}

ng-sprint-widget{

}


md-grid-list md-grid-tile .front,
md-grid-list md-grid-tile .back{
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

md-grid-list md-grid-tile .front{
    z-index: 2;
}

md-grid-list md-grid-tile .back{
    transform: rotateY(-180deg);
}

md-grid-list md-grid-tile.flipped .front{
    transform: rotateY(180deg);   
}

md-grid-list md-grid-tile.flipped .back{
    transform: rotateY(0deg);   
}

md-grid-list md-grid-tile md-grid-tile-header{

}
*/
md-grid-list md-grid-tile md-grid-tile-header h3{
    color: rgba(255, 255, 255, 0.7);
}

md-grid-list md-grid-tile md-grid-tile-footer{
    background: none;
}

md-grid-list md-grid-tile md-grid-tile-footer figcaption{
    width: 100%;
}

md-grid-list md-grid-tile md-grid-tile-footer h3{
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
}

md-list md-list-item .md-list-item-text h3{
    color: rgba(0, 0, 0, 0.3) !important;
}

md-list md-list-item .md-list-item-text p{
    color: rgba(255, 255, 255, 0.7) !important;
}

/**
 * Remove Google logo on traffic map
 */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.avatars{
    width: 100%;
    padding: 10px;
    padding-right: 34px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact-item {
    padding: 10px 5px 0px;
    -webkit-flex: 24px;
    flex: 24px;
}

.avatar{
    border-radius: 50%;
    box-shadow: 0px 0px 5px -1px black;
}

.wallboard #ghx-chart-content,
.iframe body,
.gadget{ 
    background: red; 
}
